// This file contains all the colors used in the theme

//The background color of modules view & settings view
// Default: #1A1A1A;;
$BackgroundColor: #1A1A1A;;

//This Color applies to the column background and setting component background
// Default: #212126;
$ColumnColor: #212126;

//This Color applies to the default module background and setting background
// Default: #28282E;
$ModuleColor: #28282E;

//Global Text Color
// Default: #e7e7e7;
$TextColor: #e7e7e7;

// This is the amount of the filter 'invert' is applied to all icons
// Default: 100%
$IconInvertPercentage: 100%;