@use './Variables' as Vars;

input, select {
    $InputBackground: #212126;

    width: 20em;

    background-color: $InputBackground;
    color: #e7e7e7;

    border-color: darken($InputBackground, 5%);
    border-radius: 0.25rem;

    padding: 0.4em;

    filter: drop-shadow(0 0 0.2em #00000046);

    &:focus {
        outline: none;
        border-color: $InputBackground;
    }

    &::-webkit-calendar-picker-indicator {
        background-color: rgb(0, 0, 0, 0.1);
    }

    &:invalid + span::after {
        position: absolute;
        content: "✖";
        padding-left: 5px;
        color: #8b0000;
    }
}